<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" .}}
<body id="page-top" class="index">
    {{ partial "nav.html" .}}
    

    <!-- Header -->
    <header >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">AI for ML</span>
                       
                        <span class="skills">Designed for data scientist and business analysts, 
                            our service will search, tune and deploy a machine learning model 
                            specifically customized for your data</span>
                    </div>
                </div>
            </div>
        </div>
                <p>
                    &nbsp
                </p>
                <p>
                    &nbsp
                </p>
                <p>
                    &nbsp
                </p>
        
    </header>

    <!-- Portfolio Grid Section -->
    <section id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Benefits</h2>
                </div>
            </div>
            <div class="row">
                <p>
                    &nbsp
                </p>
            </div>
            <div class="feature3 row">
              <div class="container-lrg flex">
                <div class="col-lg-4">
                    <h3 class="subheading">
                        Automatic
                    </h3>
                    <p class="paragraph">
                        We train, test and rank your data against dozens of 
                        machine learning models and hyper parameters combinations,
                        all without human intervation
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3 class="subheading">
                        Fast
                    </h3>
                    <p class="paragraph">
                       All searchs are performed in parallel. As the search progress
                       suboptimal parameters are pruned.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3 class="subheading">
                        Comperhansive
                    </h3>
                    <p class="paragraph">
                        We search over different combinations of pre processing algorithm, machine
                        learning algorithms and hyper parameters.
                    </p>
                </div>
               </div> 
            </div>
           </div> 
        </div>
    </section>

    <section id="contact" class="success">   
      <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Coming Soon</h2>
                </div>
      </div>
      <div class="row">
                <p>
                    &nbsp
                </p>
            </div>
      <div class="container-lrg flex">
                <div class="col-lg-12 text-center">
                    <p class="paragraph">
                        Sign up to join the private beta. 
                    </p>
                </div>
       <div class="row">
                <p>
                    &nbsp
                </p>
            </div>
                     

      <form name="sentMessage" 
      id="contactForm" 
      novalidate 
      action="http://parametersML:8082/register"
      method="POST">
                        <div class="row control-group">
                            <div class="form-group controls col-lg-12">
                                <div class="col-lg-3"></div>
                                <input type="email" name="_replyto" class="btn-lg col-lg-3" placeholder="Enter your email" id="email" required>
                                <div class="col-lg-1"></div>
                                <button class="btn btn-success btn-lg col-lg-2">
                                    I want to learn more
                                </button>
                            </div>
                        </div>
       </form>                 
                <p>
                    &nbsp
                </p>
                <p>
                    &nbsp
                </p>
       
    </section>    

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                  <p> 
                    &nbsp
                </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Parallel ML brings to power of massive compute to searching the best
                       machine learning model and hyper parameters for your dataset.  
                       Our seach process build hunderds of pipelines,each one with different
                       pre processing, machine learning algorithm and hyper parameters.
                       </p>
                </div>
                <div class="col-lg-4">
                    <p>
                       The result is a powerfull tool in the hands of data analysts 
                       which both decrease the time to robust model
                       as well as increase the resulting model performance.
                    </p>   
                </div>
            </div>
        </div>
    </section>
{{ partial "footer.html" .}} 
    
</body>

</html>
